{% extends "posApp/base.html" %}
{% load humanize %}
{% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Inventory &middot; Stocks</h4>
            <ul class="nav flex-row">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inventory' %}">
                        Stock
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'product-page' %}">
                        Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category-page' %}">
                        Categories
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'supplier-page' %}">
                        Suppliers
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Search Form-->
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-1">
        <div class="d-flex align-items-center">
            <form id="search" action="" method="get">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="search" id="search" class="form-control w-80" placeholder="Product, Batch No, Category" title="Search product, batch number or category" value="">
                        <div class="input-group-prepend">
                            <button type="submit" class="input-group-text btn btn-primary mdc-button py-2" id="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </div> 
            </form>
            <div class="ms-auto">
                <button class="btn btn-primary btn-new bg-gradient btn-sm rounded-0" id="create_new"><i class="mdi mdi-plus"></i><span> Add New</span></button>
            </div>
        </div>
    </div>
</div>

<!-- Stock Table -->
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-1">
        <div class="table-responsive">
            <table id="search-result-table" class="table table-striped table-bordered" hidden>
                <thead>
                    <tr>
                        <th class="text-center">No.</th>
                        <th class="text-center">Product</th>
                        <th class="text-center">Batch No</th>
                        <th class="text-center">Category</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Unit Price</th>
                        <th class="text-center">Total Value</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <table id="stocks-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">No.</th>
                        <th class="text-center">Product</th>
                        <th class="text-center">Batch No</th>
                        <th class="text-center">Category</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Unit Price</th>
                        <th class="text-center">Total Value</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr>
                        <td class="px-2 py-1 text-center">{{ forloop.counter }}</td>
                        <td class="px-2 py-1 text-start">{{ stock.product.name }}</td>
                        <td class="px-2 py-1 text-start"> {{ stock.batch_no }}</td>
                        <td class="px-2 py-1 text-start">{{ stock.category.name }}</td>
                        <td class="px-2 py-1 text-start">{{ stock.quantity }}</td>
                        <td class="px-2 py-1 text-start">{{ stock.unit_price|floatformat:2 }}</td>
                        <td class="px-2 py-1 text-start">{{ stock.total_value|floatformat:2 }}</td>
                        {% for value in request.user.groups.values_list %}
                            {% if 'Inventory Manager' in value or 'Admin' in value %}
                            <td class="px-2 py-1 text-center">                                
                                <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded edit-data" type="button" data-id="{{ product.pk }}" title="Edit">
                                    <i class="material-icons mdc-button__icon">edit</i>
                                </button>
                                <button class="mdc-button mdc-button-danger mdc-button--raised p-1 icon-button filled-button--danger mdc-ripple-upgraded delete-data" type="button" data-id="{{ product.pk }}" title="Delete">
                                    <i class="material-icons mdc-button__icon">deleteoutline</i>
                                </button>
                            </td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock pageContent %} 
{% block ScriptBlock %}
<script>
    document.getElementById('search').addEventListener('keyup', function(e){
        if (e.key === 'Enter') {
            e.preventDefault();
            search();
        }
    });
    function search(){
        var search = $('#search').val();
        document.getElementById('search').value = search;
        $.ajax({
            url: "{% url 'search' %}",
            type: "GET",
            data: {
                'q': search,
                'scope': 'stock',
            },
            success: function(data){
                console.log(`Search Data: ${data}`);
                document.getElementById('search').value = search;
            },
            error: function(xhr, status, error){
                console.error(`Error: ${error}`);
            }
        });
    }
    $(document).ready(function(){
        $('#submit').click(function(e){
            e.preventDefault();
            alert(`Search Button Clicked`);
            search();
        });
    });
</script>
{% endblock ScriptBlock %}