html,
body {
    height: 100%;
    width: 100%;
}

.loader-wrapper {
    background: #e9eaefa6 !important;
}

.mid-large {
    width: 54vw !important;
    max-width: unset;
}

.body-wrapper .main-wrapper .page-wrapper .content-wrapper {
    min-height: calc(100vh - 84px - 62px) !important;
}

#POS-field {
    height: 55vh
}

.mdc-card.info-card.info-card--primary .card-inner .card-icon-wrapper {
    background: var(--bs-primary) !important;
    box-shadow: 0 0 10px 5px rgb(13 110 253 / 28%);
}

.bg-primary {
    background: var(--bs-primary) !important;
}

.text-primary {
    color: var(--bs-primary) !important
}

.mdc-drawer {
    background: unset;
}

.mdc-drawer__header,
.mdc-drawer__content {
    margin: .5em !important;
}

.mdc-list-item.mdc-drawer-item {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.icon-small{
    font-size: .75rem;
}
.btn-small{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    padding: .001em;
}
.mb-2{
    margin-bottom: 2px;
}
.soft-bold{
    font-weight:600;
    color: slategrey;
}
.alert{
    position: fixed;
    top: 50px;
    z-index: 5000
}
.obscure{
    opacity: 0%;
}
#status-modal{
    z-index: 500000;
}

.form-group{
    margin-top: 1rem;
}
.login-btn{
    width: 60%;
    margin-top: 2rem;
    color: #fff;
    background: rgb(106, 15, 106);
    border-color: rgb(106, 15, 106);
    font-weight: 600;
}
.login-btn:hover,
.login-btn:active{
    background: rgb(68, 2, 68);
    border-color: rgb(68, 2, 68);
}
.login-body{
    background-image: url('../images/hanson-lu-sq5P00L7lXc-unsplash.jpg');
    background-color:#fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:normal;
}
.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px); /* Adjust blur strength */
    background: rgba(0, 0, 0, 0.3); /* Optional tint */
}
