html,
body {
    height: 100%;
    width: 100%;
}

.loader-wrapper {
    background: #e9eaefa6 !important;
}

.mid-large {
    width: 54vw !important;
    max-width: unset;
}

.body-wrapper .main-wrapper .page-wrapper .content-wrapper {
    min-height: calc(100vh - 84px - 62px) !important;
}

#POS-field {
    min-height: 55vh
}

.mdc-card.info-card.info-card--primary .card-inner .card-icon-wrapper {
    background: var(--bs-primary) !important;
    box-shadow: 0 0 10px 5px rgb(13 110 253 / 28%);
}

.bg-primary {
    background: var(--bs-primary) !important;
}

.text-primary {
    color: var(--bs-primary) !important
}

.mdc-icon-button.mdc-top-app-bar__navigation-icon{
    color: #fff;
}
.mdc-drawer {
    background: unset;
}

.mdc-drawer__header,
.mdc-drawer__content {
    margin: .5em !important;
}
.mdc-drawer__header{
    margin-top: .15em !important;
    padding-bottom: .005em !important;
}

.mdc-list-item.mdc-drawer-item {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.mdc-drawer-link.active{
    background-color: rgb(3, 116, 66) !important;
    border: 2px solid rgb(4, 146, 84) !important;
    color: #fff !important;
}
.mdc-button{
    background: rgb(3, 114, 66) !important;
    color: #fff !important;
    font-weight: 600 !important;
}
.mdc-button:hover,
.mdc-button:active{
    background: rgb(4, 146, 84) !important;
    color: #fff !important;
}
.mdc-button-danger{
    background: rgb(186, 21, 21) !important;
    color: #fff !important;
    font-weight: 600 !important;
}
.mdc-button-danger:hover{
    background: rgb(198, 4, 4) !important;
    color: #fff !important;
}
.icon-small{
    font-size: .75rem;
}
.btn-small{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    padding: .001em;
}
.mb-2{
    margin-bottom: 2px;
}
.soft-bold{
    font-weight:600;
    color: slategrey;
}
.alert{
    position: fixed;
    top: 50px;
    z-index: 5000
}
.obscure{
    opacity: 0%;
}
#status-modal{
    z-index: 500000;
}

.form-group{
    margin-top: 1rem;
}
.login-btn{
    width: 60%;
    margin-top: 2rem;
    color: #fff;
    background: rgb(3, 114, 66);
    border-color: rgb(3, 114, 66);
    font-weight: 600;
}
.login-btn:hover,
.login-btn:active{
    background: rgb(4, 146, 84);
    border-color: rgb(4, 146, 84);
}
.login-body{
    /*background-image: url('../images/hanson-lu-sq5P00L7lXc-unsplash.jpg');*/
    background-color:#fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:normal;
}
.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0px); /* Adjust blur strength */
    background: rgba(0, 0, 0, 0.3); /* Optional tint */
}
.mdc-top-app-bar,
.mdc-menu,
.mdc-menu-surface,
.bg-dark-alt{
    color: #fff;
    font-weight: 600;
    background: rgb(3, 114, 66);
}

.mdc-menu-button{
    background: rgb(4, 146, 84) !important;
    color: #fff !important;
    border: 1px solid rgb(3, 114, 66) !important;
    font-weight: 600 !important;
}
.mdc-menu-button:hover{
    background: rgb(3, 114, 66) !important;
    color: #fff !important;
    border-color: rgb(4, 146, 84) !important;
}
.mdc-button.mdc-menu-button .user-name{
    color: #fff;
    font-weight: 600;
}
.mdc-menu{
    box-shadow: 2px ,2px, 2px, -2px, -2px, rgba(206, 206, 206, 0.3);
}
.mdc-menu .item-thumbnail{
    color: #fff;
    font-size: 10px;
}
.mdc-menu .mdc-list{
    padding-left: 5px;
    padding-right: 5px;
}

.mdc-list-item{
    color:#fff;
    background: rgb(4, 146, 84);
    border: 2px solid rgb(3, 114, 66); 
    margin-bottom: 1.2rem;
    font-size: 14px;
}
.mdc-list-item:hover,
.mdc-list-item:active{
    background: rgb(3, 114, 66);
    border-color: rgb(4, 146, 84);
}
.mdi{
    color: #fff;
}
.text-dark-alt{
    color: #fff;
    font-weight: 600;
}
.btn-new,
.btn-new:active{
    background: rgb(3, 114, 66);
    border-width: 0;
    color: #fff;
    font-weight:600;
}
.btn-new:hover,
.btn-new:focus{
    background:rgb(4, 146, 84);
}
.bg-primary-alt{
    background: rgb(3, 114, 66);
    padding: 5px;
}
.modal-content{
    background: rgb(218, 218, 218);
}
.modal-btn{
    width: 50%;
}
.modal-header{
    color: #fff;
    border-radius:0;
    background:rgb(3, 114, 66)
}
.modal-footer{
    border-top-color:rgb(3, 114, 66);
}

legend{
    margin:0;
    padding: 10px;
    background: #e2e2e2;
}
.table{
    padding: 0;
    margin: 0;
}
#check_out{
    margin-top: 15px;
    margin-right: 15px;
    font-weight: 600;
    font-size:16px;
}
.form-control,
.text-black{
    color: #000
}
.w-fit{
    width:fit-content;
}