
<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
 <!--
<div
    class="modal fade"
    id="loadingModal"
    tabindex="-1"
    data-bs-backdrop="static"
    data-bs-keyboard="false"    
    role="dialog"
    aria-hidden="true"
>
    <div
        class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
        role="document"
    >
        <div class="modal-content">
            <div class="modal-body tw-bg-slate-200">
                <div class="tw-p-5 tw-align-center">
                    <div class="dots" id="dots">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div id="loadingOverlay" class="loading-overlay" hidden="true">
    <div class="spinner">
        <div class="tw-p-5 tw-align-center">
            <div class="dots" id="dots">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
        </div>
    </div>
</div>