{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% if page_title %}
    <title>iPOS | {{ page_title }}</title>
    {% else %}
    <title>iPOS</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'posApp/assets/bootstrap/css/bootstrap.min.css' %}">

    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'posApp/assets/material-admin/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'posApp/assets/material-admin/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'posApp/assets/material-admin/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'posApp/assets/material-admin/vendors/jvectormap/jquery-jvectormap.css' %}">
    <!-- End plugin css for this page -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'posApp/assets/material-admin/css/demo/style.css' %}">
    <link rel="stylesheet" href="{% static 'posApp/assets/select2/dist/css/select2.min.css' %}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"> -->
    <link rel="stylesheet" href="{% static 'posApp/assets/default/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'posApp/assets/material-admin/images/favicon.png' %}" />
    <script src="{% static 'posApp/assets/default/js/jquery-3.6.0.min.js' %}">
    </script>
    <script src="{% static 'posApp/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'posApp/assets/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'posApp/assets/bootstrap/js/popper.min.js' %}"></script>
</head>

<body>
    <script src="{% static 'posApp/assets/material-admin/js/preloader.js' %}"></script>
    <div class="body-wrapper">
        <!-- Aside -->
        {% block navigation %} {% include "posApp/navigation.html" %} {% endblock navigation %}
        <!-- Aside -->
        <div class="main-wrapper mdc-drawer-app-content">
            <!-- Top Navigation -->
            {% block TopNavigation %} {% include "posApp/topNavigation.html" %} {% endblock TopNavigation %}
            <!-- Top Navigation -->

            <div class="page-wrapper mdc-toolbar-fixed-adjust">
                <main class="content-wrapper">
                    <!-- Message -->
                    {% if messages %}
                    <div class="mdc-layout-grid py-1">
                        <div class="mdc-layout-grid__inner">
                            {% for message in messages %}
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                                <div class="alert alert-{{message.tags}} w-100 rounded-0 mb-0">
                                    <div class="d-flex w-100">
                                        <div class="col-auto flex-shrink-1 flex-grow-1">{{ message }}</div>
                                        <div class="col-auto text-center">
                                            <button class="btn-close btn-sm text-sm" type="button" onclick="$(this).closest('.alert').remove()"></button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <!-- Message -->
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            {% block pageContent %} {% endblock pageContent %}
                        </div>
                    </div>
                </main>
                <!-- partial:partials/_footer.html -->
                <footer>
                    <div class="mdc-layout-grid">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                                <span class="text-center text-sm-left d-block d-sm-inline-block tx-14">&COPY;<a href="#" target="_blank">LoWic Developers</a> {% now 'Y' %}</span>
                            </div>
                            
                        </div>
                    </div>
                </footer>
                <!-- partial -->
            </div>
        </div>
    </div>
    {% block ScriptBlock %} {% endblock ScriptBlock %}
    <div class="modal fade" id="uni_modal" role='dialog'>
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-sm btn-flat btn-primary modal-btn btn-new rounded-0" id='submit' onclick="$('#uni_modal form').submit()" title="Save">Save</button>
                            </div>
                            <div class="col-6 text-right">
                                <button type="button" class="btn btn-sm btn-flat btn-secondary modal-btn rounded-0" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="pos_modal" role='dialog'>
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-sm btn-flat btn-primary modal-btn btn-new rounded-0" id='submit' onclick="$('#pos_modal form').submit()" title="Save">Save</button>
                            </div>
                            <div class="col-6 text-right">
                                <button type="button" class="btn btn-sm btn-flat btn-secondary modal-btn rounded-0 w-100" id='submit-print' onclick="$('#pos_modal form').submit()" title="Save and Print Receipt">Save and Print Receipt</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirm_modal" role='dialog'>
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                </div>
                <div class="modal-body">
                    <div id="delete_content"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-flat btn-primary rounded-0" id='confirm' onclick="">Continue</button>
                    <button type="button" class="btn btn-sm btn-flat btn-secondary rounded-0" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="status-modal" role='dialog'>
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
           <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Payment Confirmation</h5>
            </div>
            <div class="modal-body">
                <form class="p-2">
                    <div class="form-group">
                        <p><span class="tw-font-bold pb-4"><strong>Customer Name: </strong></span> <span id="customer_name"></span></p>
                        <p><span class="tw-font-bold"><strong>Amount Received: </strong></span> <span id="amount_received"></span></p>
                    </div>
                    <div class="form-group row">
                        <div class="col-6 text-left pt-4">
                            <button id="payment_confirmation_btn" class="btn btn-primary" title="Continue">Continue</button>
                        </div>
                        <div class="col-6 text-right pt-4">
                            <button id="payment_confirmation_cancel_btn" class="btn btn-danger" title="Cancel" data-bs-dismiss="modal">cancel</button>
                        </div>
                    </div>
                </form>
            </div>
           </div>
        </div>
    </div>



    <script>
        window.start_loader = function() {
            $('body').removeClass('loaded')
        }
        window.end_loader = function() {
            $('body').addClass('loaded')
        }
        window.uni_modal = function($title = '', $url = '', $size = "") {
            start_loader()
            $.ajax({
                url: $url,
                error: err => {
                    console.log(err)
                    alert("An error occurred")
                },
                success: function(resp) {
                    if (resp) {
                        $('#uni_modal .modal-title').html($title)
                        $('#uni_modal .modal-body').html(resp)
                        if ($size != '') {
                            $('#uni_modal .modal-dialog').addClass($size + ' modal-dialog-centered')
                        } else {
                            $('#uni_modal .modal-dialog').removeAttr("class").addClass("modal-dialog modal-md modal-dialog-centered")
                        }
                        $('#uni_modal').modal({
                            backdrop: 'static',
                            keyboard: false,
                            focus: true
                        })
                        $('#uni_modal').modal('show')
                        end_loader()
                    }
                }
            })
        }
        window.pos_modal = function($title = '', $url = '', $size = "") {
            start_loader()
            $.ajax({
                url: $url,
                error: err => {
                    console.log(err)
                    alert("An error occurred")
                },
                success: function(resp) {
                    if (resp) {
                        $('#pos_modal .modal-title').html($title)
                        $('#pos_modal .modal-body').html(resp)
                        if ($size != '') {
                            $('#pos_modal .modal-dialog').addClass($size + ' modal-dialog-centered')
                        } else {
                            $('#pos_modal .modal-dialog').removeAttr("class").addClass("modal-dialog modal-md modal-dialog-centered")
                        }
                        $('#pos_modal').modal({
                            backdrop: 'static',
                            keyboard: false,
                            focus: true
                        })
                        $('#pos_modal').modal('show')
                        end_loader()
                    }
                }
            })
        }
        window._conf = function($msg = '', $func = '', $params = []) {
            $('#confirm_modal #confirm').attr('onclick', $func + "(" + $params.join(',') + ")")
            $('#confirm_modal .modal-body').html($msg)
            $('#confirm_modal').modal('show')
        }
        setTimeout(function() {
            document.querySelectorAll('.alert').forEach(function(alert) {
                alert.style.display = 'none';
            });
        }, 5000);
        $(function() {

        })
    </script>
    <script>
        let idleTime = 0;
        const maxIdleTime = 5 * 60; // 5 minutes
    
        function resetIdleTime() {
            idleTime = 0;
        }
    
        document.onclick = resetIdleTime;
        document.onmousemove = resetIdleTime;
        document.onkeypress = resetIdleTime;
    
        setInterval(() => {
            idleTime++;
            if (idleTime >= maxIdleTime) {
                // Redirect to logout view
                window.location.href = '/logout/';
            }
        }, 300000); // Check every 300 seconds (5 minutes)
    </script>
    

    <script src="{% static 'posApp/assets/material-admin/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'posApp/assets/material-admin/js/material.js' %}"></script>
    <script src="{% static 'posApp/assets/material-admin/js/misc.js' %}"></script>
    <script src="{% static 'posApp/assets/material-admin/js/dashboard.js' %}"></script>
    <script src="{% static 'posApp/assets/select2/dist/js/select2.full.js' %}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->
</body>

</html>