{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block body %}
    <div class="container-fluid bg-login">
        <div class="row flex-center">
            <div class="col-12 flex-center tw-pt-4">
            </div>
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5">
                <div class="text-center">
                    <p class="tw-w-full tw-text-center tw-mt-10 tw-pr-10 tw-pl-10 tw-pt-4 tw-pb-4 tw-bg-slate-200 tw-rounded-xl tw-font-bold tw-text-xl">
                        {{site}} POS &amp; Inventory System
                    </p>
                </div>
                <form id="login-form" method="post" class="tw-bg-slate-400/90 tw-p-2 tw-pb-10 tw-rounded-xl">
                    {% csrf_token %}
                    <p class="tw-text-center tw-pt-2 tw-pb-1 tw-font-semibold tw-text-xl">Login</p>
                    <div class="tw-text-center tw-pt-4">
                        <i class="fa fa-circle-user fa-4x tw-text-gray-200"></i>
                    </div>
                    <div class="tw-text-left tw-mt-2 tw-pt-4 tw-pb-2 tw-h-10" id="error-message">
                    </div>
                    <div class="form-group tw-mt-4 tw-pt-4 tw-pb-4">
                        <label for="username" class="tw-font-semibold">Username <small id="username-error"></small></label>
                        <input type="text" name="username" id="username" class="form-control">
                    </div>
                    <div class="form-group tw-pb-8">
                        <label for="password" class="tw-font-semibold">Password  <small id="password-error"></small></label>
                        <div class="input-group">
                            <input type="password" name="password" id="password" class="form-control">
                            <div class="input-group-prepend">
                                <span class="btn btn-primary input-group-text" id="password-toggle" title="Show">
                                    <i id='password-toggle-icon'class="fa fa-eye-slash fa-1x"></i>
                                </span>
                            </div>
                        </div> 
                        <small>
                            <a href="#" class="tw-text-purple-950 hover:tw-text-purple-500 tw-font-semibold" title="Forgot Password">Forgot Password?</a>
                        </small>
                    </div>
                    <div class="form-group tw-text-center">
                        <button id="login-btn" class="btn btn-primary w-50 mt-4 tw-font-semibold" title="Login">
                            Login <i class="fa fa-arrow-right "></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}